*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(135, 206, 235);
    height:100vh;
    font-family:Arial, Helvetica, sans-serif;
    background-image: url("https://images.pexels.com/photos/11167645/pexels-photo-11167645.jpeg?auto=compress&cs=tinysrgb&w=600");
     background-size:100% 100%;
    
    
}
.main{
    color:white;
    max-width: 400px;
    margin: 0px auto;
    padding:20px;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
     background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid;
    
}
.searchForm{
    display: flex;
    align-items: center;
    
}
.searchtype{
    flex: 1;
    padding: 20px;
    border: 2px solid rgb(239, 239, 247);
    border-radius: 10px;
    font-size: 1rem;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.1);
    color: aliceblue;
    
}
.searchbtn{
    background-color: rgb(249, 249, 253);
    padding: 16px;
    border:none;
    border-radius: 10px;
    margin-left: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    background: rgb(0, 0, 0); /* Fallback color */
    background: rgba(0, 0, 0, 0.1);
    border: 1px solid white;
}
.searchbtn i{
    color: aliceblue;
}

.searchbtn:hover{
    
    background-color: rgb(75, 75, 78);
}
.citydate{
    margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px ;    
}
.citydate .city{
    font-size: 2rem;
}
.citydate .date{
   
    padding:5px 10px;
    border-radius: 15px;
}
.tempinfo{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.temp{
    font-size: 3rem;
}
.tempinfo .description{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
} 
.tempinfo .description i{
    font-size:1.5rem;
}

.additionalinfo{
    margin-top: 20px;
    display: flex;
    justify-content:space-around;
    align-items: center;
}
.windinfo, .humidityinfo, .visibilityinfo {
   
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    border-radius: 10px;
    padding: 10px 10px;
    box-shadow: rgba(0,0,0,0.24)  0px 8px 3px;

}
.additionalinfo .material-icons{
    font-size: 2rem;
    opacity: 0.8;
}

.windinfo, .humidityinfo, .visibilityinfo {
    text-align: center;
}
footer{
    color: grey;
    opacity: 0.06;
}
